
.slidecontainer {
    width: 300px;
    margin: 20px 0 30px 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

canvas {
    padding-left: 0;    
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* border: 1px solid black; */
}

#diff-tools {
    border: 3px solid black;
    border-radius: 10px;
    max-width: 500px;
    width: 80%; 
}

.fixed-height {
    height: 300px;
}

.readable-label {
    font-size: 16px;
    color: black;
}

.readable-label-dscr {
    font-size: 12px;
    color: #222;
}

#diff-intensity {
    width: 200px;
    margin: 0 0 20px 20px;
}

.roomy-row {
    margin-top: 20px;
}